body, html {
	overflow-x: hidden;
	* {
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
		color: $dark-blue;
	}
}

.browser-recommend {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.44);
	z-index: 2;
	.window	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.popup {
			height: 350px;
			width: 500px;
			position: relative;
			.close {
				top: 10px;
				right: 10px;
				position: absolute;
				cursor: pointer;
			}
		}
	}
}

.loader {
	background-color: white;
	position: fixed;
	z-index: 20;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
}

.not-supported {
	background-color: white;
	position: fixed;
	z-index: 20;
	height: 100%;
	width: 100vw;
	left: 0;
	top: 0;
	@media screen and (min-width: 768px) {
		display: none !important;
	}
}

header {
	.top-header {
		h3 {
			font-size: 24px;
		}
		.top-links {
			ul {
				list-style: none;
				margin: 0;
				li {
					position: relative;
					font-size: 14px;
					padding-left: 20px;
					display: inline-block;
					img {
						width: 27px;
						padding: 10px 10px 10px 0;
					}
					.dropdown {
						display: none;
						position: absolute;
						left: 0;
						top: 100%;
						z-index: 5;
						width: 240px;
						padding: 16px;
						ul {
							height: auto;
							li, a {
								height: auto;
								line-height: 15px;
								font-size: 13px;
							}
							li {
								padding: 8px 0;
								display: block;
								border-right: none;
								a {
									padding: 12px 0;
									@media screen and (min-width: 992px){
										padding: 8px 0;
									}
								}
							}
						}
					}
					&:hover {
						.dropdown {
							display: block;
						}
					}
				}
			}
		}
		.logo {
			max-width: 250px;
		}
		.search {
			input {
				font-size: 14px;
				padding: 5px 15px;
			}
			.submit {
				background: $dark-grey;
				color: white;
				border: 1px solid $dark-grey;
				font-size: 16px;
				cursor: pointer;
			}
		}
	}
	.main-nav {
		z-index: 3;
		nav {
			.home {
				padding: 11px;
			}
			ul {
				list-style: none;
				li {
					&.menu-item {
						border: 1px solid;
						border-top: 0;
						border-image: linear-gradient(to bottom, white, $sky-blue) 1 100%;
						height: 100%;
						width: 100%;
						position: relative;
						a {
							height: 100%;
						}
						&.activeItem {
							background-color: $green;
							.navbar-item {
								color: white;
							}
						}
						&:nth-child(6) {
							.dropdown {
								min-width: 400px;
								left: initial;
								right: 0;
							}
						}
						&:last-child {
							border-right: 0;
							.dropdown {
								left: initial;
								right: 0;
							}
						}
					}
					.navbar-item {
						display: inline-block;
						cursor: pointer;
						padding: 15px 10px;
						font-size: 11px;
						line-height: 12px;
						text-transform: uppercase;
						color: $dark-blue;
						@media screen and (min-width: 1200px){
							padding: 15px 10px;
							font-size: 14px;
							line-height: 15px;
						}
					}
					.dropdown {
						display: none;
						position: absolute;
						left: 0;
						top: 100%;
						z-index: 5;
						min-width: 300px;
						padding: 16px;
						background: $light-blue;
						ul {
							height: auto;
							li, a {
								height: auto;
								line-height: 15px;
								font-size: 13px;
								color: $dark-blue;
							}
							li {
								padding: 7px 0;
								display: block;
								border-right: none;
								a {
									padding: 12px 0;
									@media screen and (min-width: 992px){
										padding: 8px 0;
									}
								}
							}
						}
					}
					&:hover {
						.dropdown {
							display: block;
						}
					}
				}
			}
		}	
	}
}

.sidebar {
	min-height: 100vh;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			padding: 15px 10px;
			transition: all 400ms;
			ul {
				li {
					padding: 5px 0;
				}
			}
			&.active {
				background-color: $green;
				a {
					color: white;
				}
				&:hover {
					a {
						color: white;
					}
				}
			}
			&:hover {
				a {
					color: $green;
				}
			}
			a {
				font-size: 14px;
				line-height: 18px;
				display: block;
				color: $dark-blue;
				font-weight: 400;
			}
		}
	}
}

.popup-trigger {
	cursor: pointer;
}

.popups {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: transparent;
	transition: background 400ms;
	&.opened {
		background: rgba(0,0,0,.75);
	}
	.popup {
		overflow: visible;
		max-width: 1000px;
		width: 80%;
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 70vh;
	}
}


table {
	margin: 20px 0;
	font-size: 14px;
	width: 99%;
	border-collapse: collapse;
	.large-text {
		font-size: 15.5px !important;
	}
	thead,tbody {
		tr {
			td, th {
				padding: 5px 10px;
				&.border-right-white {
					border-right: 1px solid white;
				}
				&.border-bottom-thick {
					border-bottom: 2px solid $dark-blue;
				}
				&.border-bottom-thin {
					border-bottom: 1px solid $dark-blue;
				}
				&.border-top {
					border-top: 1px solid $dark-blue;
				}
				&.border-left {
					border-left: 1px solid $dark-blue;
				}
				&.border-right {
					border-right: 1px solid $dark-blue;
				}
				&.border-bottom-white-thin {
					border-bottom: 1px solid white;
				}
				&.top {
					vertical-align: top;
				}
				&.bottom {
					vertical-align: bottom;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				line-height: 16px;
				width: 1px;
				&.foot-text {
					line-height: 20px;
					font-size: 13px;
					padding: 0 10px !important;
				}
				&.smaller {
					font-size: 12px;
					@media screen and (min-width: 1600px){
						font-size: 15px;
					}
				}
				ul {
					li {
						font-size: 13px !important;
						@media screen and (min-width: 1600px){
							font-size: 14px !important;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 1600px){
		font-size: 14px;
	}
}

main {
	.banner-section {
		position: relative;
		.sky-blue-transparent-bg {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.banner {
			height: 70vh;
			&.banner-1 {
				background-image: url(../img/homepage/banner_1.jpg);
			}
		}
	}

	.reports {
		.dark-grey-bg {
			padding: 15px;
			transition: all 400ms;
			&:hover {
				background-color: $grey;
			}
		}
		a {
			font-size: 14px;
		}
	}

	.review {
		.dark-blue-border {
			padding: 20px 40px;
			min-height: 180px;
		}
	}

	.creating-value {
		h2 {
			font-size: 55px;
			line-height: 40px;
			span {
				font-size: 40px;
			}
		}
		img {
			border: 1px solid $grey;
		}
	}

	.video-block {
		cursor: pointer;
		.thumbnail {
			position: relative;
			margin-bottom: 10px;
			.icon {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 45px;
			}
		}
	}

	.leadership {
		.thick-light-blue-border {
			margin-top: 60px;
			@media screen and (min-width: 992px) {
				margin-top: 100px;
			}
			img {
				position: absolute;
				bottom: 0;
				max-width: 235px;
			}
		}
	}

	.clicks-exp {
		.clicks-slider {
			.gallery-img {
				height: 436px;
				@media screen and (min-width: 1200px){
					height: 550px;
				}
			}
			p {
				margin-bottom: 0;
				position: absolute;
				bottom: 0;
				left: 0px;
				width: 100%;
				padding: 10px 30px;
				background-color: rgba(0, 55, 103, 0.84);
			}
			.slick-prev,
			.slick-next {
				outline: none;
				font-size: 0;
				position: absolute;
				top: 50%;
				transform: translateX(-50%);
				border: none;
				background: none;
				z-index: 5;
				width: 40px;
				height: 40px;
				color: white;
				&:before {
					content: " ";
				}
			}

			.slick-prev {
				left: 0;
				border-bottom: 6px solid;
				border-left: 6px solid;
				transform: rotate(45deg);
			}

			.slick-next {
				right: 0;
				text-align: right;
				border-bottom: 6px solid;
				border-left: 6px solid;
				transform: rotate(-135deg);
			}
		}
		.nav-slide {
			cursor: pointer;
			padding: 10px !important;
			@media screen and (min-width: 1200px){
				padding: 15px !important;
			}
		}
	}

	.business-model {
		.popup-trigger{
			cursor: pointer;
			transform-origin: center;
			transition: all 0.4s;
			stroke: transparent;
			stroke-width:1px;
			stroke-linejoin: round;
			&:hover{
				transform: scale(1.05);
				stroke: #005bab;
				fill: #d4f1ff;
				z-index: 100;
			}
		}

		.capital-resources {
			.opaque-blue-bg {
				width: 147px;
			}
		}
	}

	.material-issues {
		span {
			font-size: 16px;
			font-weight: 600;
			&.large-number {
				font-weight: 400;
				line-height: 47px;
				font-size: 66px;
			}
		}
		.number-heading {
			.large-number {
				line-height: 120px;
				font-size: 160px;
			}
			h2 {
				margin-top: -70px;
			}
		}
	}
	.investment-case {
		ul {
			li {
				padding: 0;
			}
		}
		.letter-spacing-smaller {
			letter-spacing: -10px;
		}
	}
	.bod {
		.image {
			position: relative;
			h4 {
				width: 100%;
				bottom: 0;
				position: absolute;
				background-color: rgba(255, 255, 255, 0.84);;
			}
		}
	}
	.create-value-cit {
		.light-blue-background {
			h2 {
				line-height: 38px;
			}
		}
		.equity-heading {
			padding-top: 18px;
			margin-left: -140px;
			@media screen and (min-width: 1200px) {
				padding-top: 33px;
				margin-left: -176px;
			}
		}
		.negative-top-margin {
			margin-top: -150px;
		}
		.helping-hand-heading {
			margin-left: -119px;
			padding-top: 55px;
			@media screen and (min-width: 1200px) {
				width: 90%;
				padding-top: 42px;
			}
		}
	}

	.bod {
		h4 {
			line-height: 9px;
		}
	}

	.reward-value {
		thead,tbody {
			tr {
				td, th {
					&.remove-padding {
						padding: 0;
					}
				}
			}
		}
	}
}

.svg{
	overflow: visible !important;
}

.popup-trigger{
	cursor: pointer;
}

.popups{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
    transition: background 0.4s;
    &.opened{
		background: rgba(0,0,0,0.75);
    }
	.popup{
		display: none;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
		iframe{
			max-width: 100% !important;
		}
	}
}

.creating-value-2018 {
	.line-heading {
		margin-top: 40px;
		margin-bottom: 20px;
		border-top: 1px solid $dark-blue;
		h2 {
			font-size: 15px;
			line-height: 20px;
			padding: 10px 30px;
			display: inline-block;
			min-width: 220px;
			text-align: center;
		}
	}
}

.group-profile {
	.neg-top-margin {
		margin-top: -100px;
		margin-right: 20px;
	}
}

.business-model {
	.light-blue-bg {
		position: relative;
		.arrow {
			position: absolute;
			bottom: 100%;
			left: 0;
		}
	}
}

.material-issues {
	.number {
		position: relative;
		z-index: 2;
		margin-left: 25px;
		margin-right: 15px;
		&:after {
			content: '';
			background: $dark-blue;
			border-radius: 50%;
			height: 30px;
			width: 30px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
}

.chairman, .ceo, .cfo {
	.david, .michael {
		position: relative;
		bottom: -60px;
	}
}

.b-o-d {
	.center-line-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		h2 {
			background: #fff;
			padding: 5px 10px;
			position: relative;
			z-index: 1;
			display: inline-block;
		}
		&:after {
			content : '';
			height: 1px;
			width: 100%;
			background: $dark-blue;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	p {
		margin-bottom: 2px;
	}
}

.value-citizen {
	.blue-header {
		position: relative;
		h2 {
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			padding: 5px 13px;
			min-width: 250px;
			text-align: center;
		}
		&.share-ownership {
			padding-top: 60px;
			.dark-blue-border-right {
				border-right: none;
				@media screen and (min-width: 992px){
					border-right: 1px solid $dark-blue;
				}
			}
			@media screen and (min-width: 992px){
				padding-top: 40px;
			}
		}
		&.employment-equity, &.helping-hand {
			margin-top: 60px;
			padding-top: 60px;
			@media screen and (min-width: 1200px){
				padding-top: 40px;
			}
		}
	}
}

.side-buttons {
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	top: 45vh;
	background: #939598;
	z-index: 500;
	padding: 10px;
	a {
		padding: 6px;
		display: block;
		border-bottom: 2px solid #87898C;
		&:last-of-type {
			border-bottom: none;
		}
		&.search {
			position: relative;
			form {
				background: #939598;
				position: absolute;
				right: 100%;
				top: -5px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 10px;
				input {
					height: 30px;
				}
				[type="submit"] {
					display: none;
				}
			}
		}
	}
	img {
		width: 30px;
		height: auto;
		display: block;
	}
	@media screen and (min-width: 992px){
		display: block;
	}
}

iframe{
	max-width: 100% !important;
}

footer {
	padding: 10px 0;
}

