h1, .heading-1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 300;
}

h2, .heading-2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
}

h3, .heading-3 {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
}

h4, .heading-4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    margin-bottom: 20px;
    .xl {
        font-size: 45px !important;
        line-height: 50px !important;
    }
}

p, .p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    &:hover {
        text-decoration: none;
        color: unset;
    }
}

* {
    b {
        font-weight: 600 !important;
        &.white {
            font-weight: 500 !important; 
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

.content-styling {
    h1, .heading-1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    h2, .heading-2 {
        font-size: 30px;
        line-height: 35px;
    }
    h3, .heading-3 {
        font-size: 20px;
        line-height: 25px;
        font-weight: 400;
    }
    h4, .heading-4 {
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 2px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.5px;
        .xl {
            font-size: 55px;
            line-height: 60px;
        }
    }
    h5, .heading-5 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    p, .p {
        font-size: 14px;
        line-height: 21px;
    }
    ul {
		padding-left: 20px;
        list-style: disc;
        margin-top: 2px;
        margin-bottom: 12px;
		li {
            font-size: 14px;
            line-height: 21px;
            padding: 3px 0;
			ul {
				list-style: none;
				margin-left: 0;
				padding-left: 10px;
				li {
					position: relative;
					&:before {
						content:"–";
						position: absolute;
						left: -15px;
					}
				}
			}
		}
		li, a {
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
		}
	}
    blockquote {
        font-size: 25px;
        line-height: 28px;
        font-weight: 400;
        padding: 20px;
        margin: 30px 0;
        text-align: center;
        &.smaller {
            font-size: 20px;
            line-height: 25px;
        }
        &.smaller-margin {
            margin: 5px 0;
        }
    }
    a {
        color: $green;
        font-weight: 500;
    }
}
