$light-blue: #E2F3FB;
$sky-blue: #64BDE0;
$sky-blue-transparent: rgba(100, 189, 224, 0.78);
$blue: #005BAA;
$dark-blue: #003767;
$dark-grey: #5A5758;
$grey: #979797;
$light-grey: #D8D8D8;
$green: #7DC242;